#The application host name
HOST=localhost
#The application port to get access from the docker container
PORT=7788

#Parameters for getting the access to the database
DB_USER=tojidev
DB_PASSWORD=tojinguyen
DB_DRIVER=postgres
DB_NAME=game_platform_ai_generator
DB_HOST=postgres
DB_PORT=5432

#IDs of user group and user which will be used inside docker container by the linter to make changes to files
COMPOSE_USER_ID=
COMPOSE_GROUP_ID=

#The application and the database will be accessible from the host machine on these ports
EXPOSE_PORT=7788
EXPOSE_DB_PORT=5432

#Secret keys for the access token and refresh token signing
ACCESS_SECRET=access_secret
REFRESH_SECRET=refresh_secret

# OpenID Connect
OPEN_ID_CLIENT_ID="placeholder-for-now"
